<div class="loginBoxOut">
  <div class="loginBoxIn">
      <h1>Log In</h1>
      <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && userLogin(emailRef.value, passwordRef.value)" novalidate >

          <mat-form-field>
              <input 
              matInput 
              formControlName="email"
              [(ngModel)]="user.email" 
              #emailRef 
              placeholder="Email" 
              id = "email" 
              required>
          </mat-form-field> <br>

          <mat-form-field>
              <input 
              matInput 
              type="password" 
              formControlName="password"
              [(ngModel)]="user.password" 
              #passwordRef 
              placeholder="Password" 
              id = "password" 
              required>
          </mat-form-field> <br>


          <button mat-flat-button type="submit" [disabled]="!registerForm.valid">Log In</button> <br>
      </form>
  </div>
</div>
<button mat-raised-button routerLink="/register">Register Now</button>
