<!-- <button mat-button> Welcome Home</button>
<mat-divider></mat-divider>
<mat-icon>backup</mat-icon>
<mat-icon color="primary">backup</mat-icon>
<mat-divider></mat-divider> -->

<!-- <mat-toolbar>
  <span>Welcome to Home</span>
</mat-toolbar> -->


<!-- <mat-toolbar class="tableTitle">
  Task Details
  <button class="tableTitleButton">Add Task</button>
</mat-toolbar> -->



<!-- 

<mat-divider></mat-divider> -->

<!-- <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>


<mat-menu #appMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">ButtonA</button>
  <button mat-menu-item [matMenuTriggerFor]="subMenu2">ButtonB</button>
</mat-menu>


<mat-menu #subMenu="matMenu">
  <button mat-menu-item>A-Angular</button>
  <button mat-menu-item>A-React</button>
  <button mat-menu-item>A-Vue</button>
</mat-menu>

<mat-menu #subMenu2="matMenu">
  <button mat-menu-item>B-Angular</button>
  <button mat-menu-item>B-React</button>
  <button mat-menu-item>B-Vue</button>
</mat-menu> -->

<!-- 
<mat-divider></mat-divider>
 -->

<!-- <mat-form-field floatLabel="auto" hideRequiredMarker>
  <mat-label>UserName</mat-label>
  <input matInput required>
  <mat-hint>Enter Email</mat-hint>
</mat-form-field>
<mat-divider></mat-divider> -->

<!-- 
<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)] = "selectedValue">
    <mat-option >None</mat-option>

     <mat-option value="A">A</mat-option>
     <mat-option value="B">B</mat-option>
     <mat-option value="C">C</mat-option>
  </mat-select>
</mat-form-field>
{{selectedValue}}
<mat-divider></mat-divider> -->


<!-- <mat-checkbox>
subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
  subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before" color="primary">
  subscribe
</mat-checkbox>
   -->
<!-- <mat-divider></mat-divider>
 -->

<!-- <mat-form-field>
  <input matInput [matDatepicker]="myDatePicker">
  <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field> -->

<div>

  <router-outlet></router-outlet>

</div>